

  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem *ngFor="let item of ListasDeTarefas">
      <button ngbNavLink>{{item.nome}}</button>
      <ng-template ngbNavContent>
        <ul  class="list-group">
          <li  class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tarefa of item.tarefas">
          <p>Tarefa: {{tarefa.nome}}</p>
          <p>Descricao: {{tarefa.descricao}}</p>
          <p>Criado em : {{datepipe.transform(tarefa.dataCriacao, formatoData)}}</p>

          <p *ngIf="tarefa.dataFinalizacao">Finalizado em : {{datepipe.transform(tarefa.dataFinalizacao, formatoData)}}</p>
          <span class="badge bg-primary rounded-pill">
            <label for="finalizado"></label>
            <input type="checkbox" id="finalizado" title="Finalizado?" value={{tarefa.finalizada}}>
          </span>
          </li>
        </ul>
      </ng-template>
    </li>
    <li ngbNavItem>
       <button ngbNavLink>
        <fa-icon [icon]="faPlus" style="color: black;"></fa-icon>
       </button>
       <ng-template ngbNavContent>
        <form [formGroup]="criarListaTarefaForm">
          <!-- Seus campos de formulário aqui -->  <label for="nome" class="form-label">Nome: </label>
          <input id="nome"  type="text" formControlName="nomeFormControl" class="form-control">
          <label for="descricao" class="form-label">Descrição: </label>
          <input id="descricao"  type="text" formControlName="descricaoFormControl"  class="form-control">
          <button type="button" id="btnCriar" (click)="CriarListaTarefa()" class="btn btn-success">Criar</button>
       </form>
       </ng-template>
      <!-- </button> -->
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>




